<!--
 * @Author: Vincent Young
 * @Date: 2023-02-04 07:17:01
 * @LastEditors: Vincent Young
 * @LastEditTime: 2023-05-17 12:30:32
 * @FilePath: /missuo.github.io/themes/PaperMod/layouts/partials/extend_head.html
 * @Telegram: https://t.me/missuo
 * 
 * Copyright © 2023 by Vincent, All Rights Reserved. 
-->
{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<link rel="stylesheet" type="text/css" href="https://font.sec.miui.com/font/css?family=MiSans:300,450,500,650:Chinese_Simplify,Latin&display=swap" />
