<!--
 * @Author: Vincent Young
 * @Date: 2023-11-23 22:02:35
 * @LastEditors: Vincent Yang
 * @LastEditTime: 2024-03-18 21:40:54
 * @FilePath: /missuo.github.io/themes/PaperMod/layouts/partials/extend_head.html
 * @Telegram: https://t.me/missuo
 * @GitHub: https://github.com/missuo
 * 
 * Copyright © 2023 by Vincent, All Rights Reserved. 
-->
{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}